body {
    margin: 0;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
}

header {
    height: max(23vh, 140px);
    background-image: url("./icons/header.png");
    background-size: cover;
    background-color: #0e0e0e;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7.5%;
}

header,
a {
    color: white;
}

h1 {
    font-weight: 800;
    font-size: clamp(2.585rem, 4.75vw, 3.5rem);
}

a {
    font-weight: 700;
    font-size: clamp(0.95rem, 2vw, 1.35rem);
}

button {
    cursor: pointer;
}
